.details_wrapper {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,.3);
	overflow: hidden;
}

.details {
	background-color: #fff;
	width: 76%;
	height: 55%;
	padding: 20px;
	display: flex;
	gap: 10px;
	border-radius: 4px;
	flex-direction: column;
}

.details_header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 35px;
}

.title {
	font-weight: 700;
	font-size: 30px;
}

.details_description {
	padding: 5px;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	max-width: 100%;
	text-align: start;
	border: none;
	resize: none;
	max-height: 55%;
}
.details_close_btn {
	cursor: pointer;
	color: black;
	width: 30px;
	height: 30px;
	transition: color .3s ease, transform .5s ease;
}
.details_close_btn:hover {
	color: #404f6a;
	transform: rotate(90deg);
}
.details_not_found {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.select {
	border: none;
	width: 30%;
}

@media (max-width: 450px) {
	.details_wrapper {
		  height: calc(100% - 95px);
	}
}
