.PortalPage {
  h2 {
    margin-bottom: 25px;
  }
}

.MyPortal {
  position: absolute;
  top: calc(50vh - 50.5px);
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 40px;
  height: 230px;
  width: min(760px, 100vw);
  box-shadow: 8px 12px 15px 0 rgba(0, 0, 0, 0.25);
}
