.list {
	height: 100%;
	background: rgba(235, 236, 240, 1);
	padding: 12px;
	border-radius: 8px;
	box-sizing: border-box;
	box-shadow: 2px 2px 8px rgb(0 0 0 / 20%);
	overflow-x: hidden;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.list::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.listTitle {
	margin-top: 0;
	font-style: normal;
	overflow: hidden;
}


.addButton {
	background: none;
	border: none;
	appearance: none;
	font-size: 15px;
	color: #737373;
	margin-top: 8px;
	cursor: pointer;
}

.addButton:hover {
	color: #000;
}
