.main {
  background: rgba(0, 121, 191, 1);
  flex-grow: 1;
  height: 100vh;
  padding: 0 20px;
  overflow: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.board::-webkit-scrollbar {
  width: 0;
  height: 0;
}
