.container {
    display: flex;
    background-color: azure;
    border-radius: 5px;
    padding: 5px;
    gap: 7px;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.name {
    font-weight: 500;
}
