.header {
	background-color: rgba(0, 103, 163, 1);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 11px 22px 8px 20px;
	align-items: center;
	flex: 0 0 auto;
	height: 55px;
  }

  .header_title {
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 33px;
	color: #ffffff;
  }
  @media (max-width: 450px) {
	.header {
	  flex-direction: row-reverse;
	  background-color: #0079bf;
	}
	.header_title {
	  display: none;
	}
  }
