.Register {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 500px;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
}

.errorReg {
  color: firebrick;
  font-size: 12px;
  width: 100%;
  text-align: center;
}
